
:root {
  --clr-primary: #7380ec;
  --clr-danger: #ff7782;
  --clr-success: #41f1b6;
  --clr-white: #fff;
  --clr-info-dark: #7d8da1;
  --clr-info-light: #dce1eb;
  --clr-dark: #363949;
  --clr-warning: #ff4edc;
  --clr-light: rgba(132, 139, 200, 0.18);
  --clr-primary-variant: #111e88;
  --clr-dark-variant: #677483;
  --clr-color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--clr-light);
}

.primary {
    color: var(--clr-primary)
}

.warning {
    color: var(--clr-warning)
}

.success {
    color: var(--clr-success)
}

.danger {
    color: var(--clr-danger);
}


h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem
}

h4 {
    font-size:0.8rem;
}

h5 {
    font-size: 0.77rem
}

#photo-profile {
    border-radius:50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

small {
    font-size: 0.75rem;

}
body {
    background-color: var(--clr-dark);
    color: white;
    font-family: "Poppins", sans-serif;
    user-select: none;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;

}

.container {
    display: grid;
    grid-template-columns: 14rem  auto 14rem;
    width: 96%;
    gap: 1.8rem;
   margin: 0 auto;

}

#titlepage {
    color: grey;
}

.tieudemuc {
        width: 250px;
}

#menu ul li .active {
    background-color: white;
    color: navy;
    margin-left: 0;
    border-left: 5px solid blue;
}

#menu ul li .active::before {
    content:'';
    width: 6px;
    height: 100%;
    background-color: blue;
}

.hamburger{
    font-size: 30px;
}
.hamburger:hover {
    cursor: pointer
}
#menu ul li a {
    text-decoration: none;
    color: white;
    align-items: center;
    font-size: 15px;
    padding: 8px;
    gap: 1rem;
    margin-left: 1rem;
    font-weight: 500;
    transition: all 0.1s ease-in;
}

#menu ul li a span {
    font-size: 1.6rem;
        transition: all .1s ease-in;
}
#logout {
    position: absolute;
    bottom: 1rem;
}
#menu ul {
    list-style: none;
    padding-left: 0;
}

.menu-hidden {
    display: none;
}
#menu ul li a:hover{
    color: var(--clr-primary);
    transition: .4s ease;
}

#menu ul li a:hover span{
    margin-left: 1rem;
}


#logo {
    left: 10px;
    display: flex;
    height: 60px;
    margin:  10px 0 0 20px;
}

aside {
  height: 100vh;
}

aside .top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.4rem;
}

aside #logo {
    display: flex;
    gap: 1rem;

}

/*----------------
------------------Start main section style-----------------
------------------*/

main {
    margin-top: 1.4rem;
    width: auto;
}

main input {
    background-color: transparent;
    border:0;
    outline: 0;
    color: var(--clr-dark)
}

main .date {
    display: inline-block;
    background-color: var(--clr-white);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .insight {
    display: grid;
    grid-template-columns: repeat(3,0fr );
    gap: 1.6rem;
}

main .insight>div {
    background-color: var(--clr-white);
    padding : var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all .3s ease;
}

main .insight > div:hover {
    box-shadow: none;
}

main .insight > div span {
    background:coral;
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--clr-white);
    font-size: 2rem;
}

main .insight > div.expenses span{
    background: var(--clr-danger);
}

main .insight > div.income span{
    background: var(--clr-success);
}

main .insight > div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insight > div .middle h1{
    font-size: 1.6rem;

}

main h1 {
    color: var(--clr-dark);
}

main .insight h1 {
    color: var(--clr-dark)
}

main .insight h3 {
    color: var(--clr-dark)
}

main .insight p{
    color: var(--clr-dark)
}

main .insight .progress {
    position: relative;
    height: 68px;
    width: 68px;
    border-radius: 50px;

}

main .insight svg {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 0;
}

main .insight svg circle {
    fill: none;
    stroke: var(--clr-primary);
    transform: rotate(270, 80, 80);
    stroke-width: 5;
}

main .insight .sales svg circle{
    stroke-dashoffset: 10;
    stroke-dasharray: 150;
}

main .insight .expenses svg circle{
    stroke-dashoffset: 0;
    stroke-dasharray: 150;
}

main .insight .income svg circle{
    stroke: var(--clr-success)
}

main .insight .progress .number {
    position: absolute;
    top: 25%;
    left: 55%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .recent_order h2 {
    color: var(--clr-dark)
}

main .recent_order table {
    background-color: var(--clr-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all .3 ease;
    color: var(--clr-dark);
}

main .recent_order table:hover {
    box-shadow: none;
}

main table tbody tr{
    height: 3.8rem;
    border-bottom: 1px solid var(--clr-white);
    color: var(--clr-dark-variant)
}

main table tbody td {
    height: 3.8rem;
    border-bottom: 1px solid var(--clr-dark);
}

main table tbody tr:last-child td {
    border: none;
} 

main .recent_order a{
    text-align: center;
    display: block;
    margin: 1rem
}

/*start right side style*/


.right {
    margin-top:1.4rem;
}

.right h2{
    color: var(--clr-dark)
}

.right .top {
    display: flex;
    justify-content: start;
    gap: 2rem;
}

.right .top button{
    display:none
}

.right .theme_toggle{
     background-color: var(--clr-white);
   display: flex;
   justify-content: space-between;
   height: 1.6rem;
   width: 4.2rem;
   cursor: pointer;
   border-radius: var(--border-radius-1);
} 

.right .theme_toggle span {
     font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.right .theme_toggle span.active {
    background-color: var(--clr-primary);
    color: white
}

.right .top .profile{
    display:flex;
    gap: 2rem;
    text-align: center;
}

.right .item h3 {
    color: var(--clr-dark);
}

/*recent upate */

.right .recent_updates {
    margin-top: 1rem;
    margin-left: -20px;

}

.right .recent_updates .updates{
    background-color: var(--clr-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all .3s ease;
}

.right .recent_updates .updates:hover{
    box-shadow: none;
}

.right .recent_updates .update {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* sale analytics */

.right .sale_analytics{
    margin-top: 2rem;

}

.right .sale_analytics .item {
    background-color: var(--clr-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 10px 0;
    width: 100%;
    margin-bottom: 0.8rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
}

.right .sales_analytics .item .icon {
    background-color: coral;;
    padding: 0.6rem;
    color: var(--clr-white);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    align-items: center;
}

.right .sales_analytics .item:nth-child(3) .icon {
    background-color: var(--clr-success);
}

.right .sales_analytics .item:nth-child(4) .icon {
    background-color: var(--clr-danger);
}

.rigth .sale_analytics .item {
    margin-left: 15px;
    display: flex;
}

.add_products div{
    display: flex;
    height: 60px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px dashed;
    color: var(--clr-dark-variant);
    margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
    }

    aside{
        position: fixed;
        width: 18rem;
        z-index: 3;
        background: var(--clr-white);
        display: none;
        left: -100px;
        animation: menuAni 1s forwards;
    }

    @keyframes menuAni {
        to{
            left: 0;
        }
        
    }
}