body {
    background: rgb(22, 21, 21);
    background-image: url('images/unnamed.png');
}
.navbar {
    background-color: rgb(0, 0, 0);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 20px;
    top: -10px;
    left: -10px;
    padding: 25px;
    list-style: none;
    width: 100%;

}

#homepage {
    color: grey;
    font-size: 12px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#iconhome {
    height: 15px;
}

.menu {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

#myaccountpage {
    font-size: 13px;
    display: flex;
    padding: 2px;
    color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.menu a {
    color: white;
    text-decoration: none;
    transition:color 0.3s;
    font-size: 19px;
    margin: 20px 0 0 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px
}

.menu a:hover {
    color: grey
}


#donate {
    font-weight: bold;
    font-size: 15px;
    display: grid;
    height: 35px;
    display: grid;
    border: solid 1px grey;
    color: white;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 10px;
    width: 50px;
    border-width: 3px;
    transition: transform 0.3s ease;
    margin: 10px 10px 10px 50px;
    

}

.logo {
    left: 10px;
    display: flex;
    height: 50px;
    position:fixed;
    margin:  10px 0 0 20px;
}

.logo:hover {
    cursor: pointer;
}
#donate:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.iconsright {
    display: flex; 
    justify-content:flex-end;
    align-items: center;
    cursor: pointer;
    padding: 0 150px;
    margin-top: 10px;
    gap: 30px;
    filter: brightness(0) invert(1); /* chuyển sang màu trắng */
    right: 30px;
    cursor: pointer
}

.topage {
    display: flex;
    justify-content:flex-start;
    padding: 0 80px;
}

#cart-display{
    display: flex;
    gap: 9px;
    height: auto;
    width: auto;
}

#cart {
    background-color: transparent;
    border: solid 2px grey;
    color: white;
}

#cart img{
    display: inline-block;
    justify-content: start;
    height: 35px;
    vertical-align: middle;
    color: white;
}

#content {
    color: rgb(197, 180, 180);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    padding: 50px;
    
}
.headbox {
        font-size: 40px;

}
.accountlog {
    color: rgb(202, 190, 190);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    padding: 0 0 0 100px;
}

.sao {
    color: red
}
 #register {
    display: flex;
    padding: 0 0 0 350px;
    font-weight: 100;
 }

 .box {
    height: 40px;
    background-color: rgb(65, 57, 57);
    border: solid 1px rgb(65, 57,57); 
    width: 400px;
    color:wheat
 }

.boxp {
     height: 40px;
    background-color: rgb(65, 57, 57);
    border: solid 1px rgb(65, 57,57); 
    width: 400px;
    color:wheat
}


 #twondboxuser {
    display: flex;
    margin: 0 0 0 350px
 }

 #emailcontent {
    margin: 0 0 18px 350px;
 }

 #twondpasswordbox {
    display: flex;
    margin: 0 0 0 350px;
 }

 #passwordcontent{
    margin: 15px 0 18px 350px;
 }

 #remember {
    color:rgba(122, 110, 93, 0.89)    
}

#buttonlogin{
    border: none;
    height: 50px;
    width: 100px;
    background-color:  rgb(65, 57, 57);
    color: rgb(196, 171, 171);
    font-size: 15px;
    font-weight: bold;
}

#forgetpass {
    color: rgb(236, 219, 187)
}

#note {
    color:rgb(143, 132, 132);
    margin: 0 0 0 350px;
}

#policy {
    color: rgb(204, 188, 188)
}

#registerbutton {
    border: none;
    height: 50px;
    width: 100px;
    background-color:  rgb(65, 57, 57);
    color: rgb(196, 171, 171);
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 0 350px
}

.linkto {
    display: flex;
    justify-content: center;
    margin: 200px 0 0;
}

#noteto {
    display: flex;
    justify-content: center;
    color: rgb(201, 178, 178);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
#noteto2 {
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: rgb(146, 142, 142);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.inforsection {
    text-align: center;
    border: solid 2px grey;
    width: 80%;
    margin: 0 auto;
    padding: 30px 20px;
    font-family:Arial, Helvetica, sans-serif;


}

#instagram{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;

}
.inforsection h3 {
    display: block;
    margin-bottom: 10px;
    font-size: 70px;
    font-weight: 100;
    color: white
}

.socialmedia {
    gap: 30px;
    display: flex;
    justify-content: center;
}


.socialmedia img {
    height: 30px;
}
.khung{
    border: solid 20px black;
    border-width: 60px 60px 60px 60px;
    background-color: black;
}
.site-footer {
    color: white;
    background-color: #222;
    background:100%;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.right a {
    display: flex;
    justify-content: flex-end;
    color: grey;
    text-decoration: none;
    margin: 0 30px;
}

.sidebar a {
    text-decoration: none;
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(253, 243, 243, 0.788)
}

.sidebar image{
    display: flex;

}

/*Chỉnh side bar*/
.sidebar div {
    display: flex;
    margin-left: 100px;
    width:200px;
    justify-content: space-between;
    align-items: center;
    line-height: 3.0;
}

.dashboard {
    border: 2px rgb(22, 18, 18) solid;
}

.sidebar:hover {
    cursor: pointer;
}

.orders {
    border: 2px rgb(22, 18, 18) solid;
}

.downloads {
    border: 2px rgb(22, 18, 18) solid;
}

.address {
    border: 2px rgb(22, 18, 18) solid;
}

.accountdetails {
    border: 2px rgb(22, 18, 18) solid;
}

.logout {
    border: 2px rgb(22, 18, 18) solid;
}

/* Chỉnh icon cho phù hợp */
#dashboardicon {
    width: 20px;
    height: 20px;
}

#ordersicon {
    width: 20px;
    height: 20px;
}

#downloadsicon {
    width: 20px;
    height: 20px;
}

#addressicon {
    width: 20px;
    height: 20px;
}

#accountdetailsicon {
    width: 20px;
    height: 20px;
}

.body {
    display: flex;
}

