/* style.css */
body {
  font-family: Arial, sans-serif;
    background-image: url('https://raw.githubusercontent.com/Bruh-Fly/imagesforweb/refs/heads/main/background.png');
    margin: 0;
    padding: 0;
}
    

.navbar {
  position: relative;
  top: 0;
  height: 40px;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content:center;
  background: transparent;
  background-size: cover;                    /* phủ kín */
  background-position: center;               /* căn giữa */
  background-repeat: no-repeat;
}


.menu {
  display: flex;
  gap: 30px;
  margin-left: 100px
}


.menu a {
    color: rgb(245, 235, 235);
  text-decoration: none;
  transition: color 0.3s;
  font-size: 19px;
  margin: 20px 0 0 15px
  
}


.menu a:hover {
  color: #00bfff;
}



#logoweb {

    height: 50px;
    position: fixed;
    left: 10px;
    color: white;
    margin: -20px 0 100px 20px;
}

#donate {
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: white;
    border: 1px solid gold;
    transition: transform 0.3s ease;
    

}

#donate:hover {
   transform: scale(1.1);
    cursor: pointer;
    
}

#centertext {
    height: 100vh;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    font-size: 20px;
    flex-direction: column;
}

#centertext h1 {
    font-size: 60px
    
}

.iconbutton {
    display: flex;
    gap: 30px;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    justify-content: end;
    padding: 0 150px;
    
}

.cart {
    padding: 4px 6px;
    border: none;
    background: grey;
    cursor: pointer;
    width: auto;
}

.cart img{
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: start;
    display: inline-block;
    vertical-align: middle;
}

.cart-display {
    display: flex;
    align-items: center;
    gap: 9px;
    height: auto;
}

.browsebook {
    height: 40px;
    width: 200px;
    background: transparent;
    color: white;
    border: 1px solid grey;
    border-radius: 20px;
    font-size: 20px;
}

.toamazon {
    background-color: black;
    color: white
}



.linkto{
    display: flex;
    justify-content: center;
    margin: 200px 0 0;
    background-color: black;
}

#noteto {
    display: flex;
    justify-content: center;
    color: rgb(201, 178, 178);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
#noteto2 {
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: rgb(146, 142, 142);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.product-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.product-item img {
  max-width: 100%;
  height: auto;
}
